@import './fonts.css';

:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-grey: #666666;
    --color-darkgrey: #999999;
}

/* BASE CONFIG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background: none;
}
/* BASE CONFIG */

/* UNIQUE */
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
/* UNIQUE */

/* HEADER SECTION */
.header {
    height: 90px;
    background-color: var(--color-light);
    border-bottom: #E6E6E6 solid 1px;
}
.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__title {
    height: 17px;
}
.header__link {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-dark);
    margin: 0 20px;
}
/* HEADER SECTION */

/* ILLUSTRATION SECTION */
.illustration {
    padding: 60px 0;
}
.illustration .container {
    display: flex;
    column-gap: 51px;
}
.illustration__image {
    width: 721px;
    height: 474px;
}
.illustration__image img {
    width: 100%;
    height: 100%;
}
.illustration__info {
    max-width: 429px;
}
.illustration__caption {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-darkgrey);
    margin-bottom: 18px;
}
.illustration__title {
    font-family: 'Tenor Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 27px;
}
.illustration__desc {
    max-width: 417px;
    font-family: 'Source Serif Pro', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-grey);
    margin-bottom: 28px;
}
.illustration__author {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-dark);
}
/* ILLUSTRATION SECTION */
/* PHOTO SECTION */
.photo .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
}
.photo__image {
    width: 100%;
    height: 254px;
    margin-bottom: 24px;
}
.photo__image img {
    width: 100%;
    height: 100%;
}
.photo__caption {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-darkgrey);
    margin-bottom: 18px;
}
.photo__title {
    font-family: 'Tenor Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 15px;
}
.photo__author {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-dark);
}
/* PHOTO SECTION */
